body {
    background: #1D1F1D;
    font-family: "Montserrat";
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
    letter-spacing: 0.02em;
}

h1 {
    color: #BDE038;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 50px;   
}

h2 {
    font-size: 40px;
    line-height: 40px;
}

h1, h2 {  
    font-family: "Press Start 2P";
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 700;
}

div {
    text-align: center;
}

ul {
    list-style: none;
}

header, footer {
    height: 240px;
}

footer {
    background-color: #1D1F1D;
}

.social, .game-description-main-part {
    background: linear-gradient(255.12deg, #949B93 -0.98%, #99A38C 100%);
}

.authorization-section {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.authorization-form, .registration-form {
    display: none;
    background-color: white;
    position: fixed;
    width: fit-content;  
    color: black;
    border-radius: 30px;
    padding: 30px;
}

.close-form-button {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 24px;
	height: 24px;
	opacity: 0.2;
	cursor: pointer;
    transition: opacity ease 0.5s;
}

.close-form-button::before,
.close-form-button::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: #000;
}

.close-form-button::before {
	transform: rotate(45deg);
}

.close-form-button::after {
	transform: rotate(-45deg);
}

.navigation {
    display: flex;  
    width: fit-content;
}

.navigation.top-nav {
    padding-top: 70px;
} 

.navigation.bottom-nav {
    padding-top: 70px;
}

.section-refs {
   display: flex;
   position: relative;
   width: fit-content;
   margin: 0 50px 0 250px;
}

.section-refs li {
    display: inline;
    margin: 30px;
    padding-bottom: -50px;
    font-size: 18px;
}

.section-refs li a {
    color: white;
    font-weight: 400;
    text-decoration: none;
}

.section-refs li a:hover {
    color:rgb(189, 189, 189)
}

.enter-button {
    display: flex;
    float: right;
    background-color: transparent;
    padding: 15px 40px;
    border-radius: 7px;
    border: 2px solid #BDE038;
    font-family: 'Montserrat';
    margin-top: -70px;
    margin-right: 50px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.game-logo {
    width: 320px;
    height: 180px;    
}

.top-game-logo {
    float: left;
}

.bottom-game-logo {
    position: relative;
    float: right;
}

.game-description-start {
    margin-top: 0;
    margin-bottom: 30px;
}

.platforms-logo {
    border-top: 1px solid rgb(255, 255, 255);
    display: inline;
    padding-top: 70px;
}

.ps5-logo, .win10-logo {  
    width: 280px;
    height: 60px;
    margin: 5px;   
    filter: grayscale(1) brightness(1000%);
}

.ps5-logo {
    margin-right: 20px;
}

.win10-logo {
    margin-left: 20px;
}

.buy-section {
    margin-top: 50px;
}

.buy-button {
    padding: 16px 65px;
    width: fit-content;
    background-color: #BDE038;
    border-radius: 4px;
    box-shadow: 0px 5px 15px 5px black;
    transition: 0.5s;
}

.buy-button:hover {
    transform: scale(1.15);
    transition: 0.5s;
}

.buy-button p {
    position: relative;
    font-family: "Montserrat";
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin: 5% auto;
}

.start-section {
    text-align: center;
}

.start-section-content {
    position: relative;
    height: 100%;
    padding-top: 130px;
}

.start-section-background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 36.15%, rgba(0, 0, 0, 0) 94.38%);
}

.game-description {
    margin-top: -150px;
}

.game-description h2 {
    margin-bottom: 30px;
}

.game-description .main-description {
    margin-bottom: 50px;
    padding: 0 20%;
}

.game-description-main-part {
    margin-top: 250px;
}

.game-description-subsections {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px;
}

.game-description-subsections li{
    display: inline;
    margin: 20px;
    padding: 20px;
}

.subsection-ref {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.12em;
    padding-bottom: 5px;
}

.subsection-ref:hover {
    font-weight: 800;
}

.subsection-ref:focus {
    font-weight: 800;
    border-bottom: 8px solid #BDE038;
}

.subsection-description {
    display: table;
}

.subsection-description aside {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    width: 50%;
    row-gap: 20px;
    padding-bottom: 2%;
}

.subsection-image {
    position: relative;
    top: 0;
    left: 15%;
    width: 70%; 
    object-fit: contain;
    border-radius: 3px;
}

.subsection-description section {
    position: relative;
    float: right;  
    top: 150px;
    right: 5%;
    padding-bottom: 5%;
    width: 40%;
    line-height: 205.4%;
    color: #1D1F1D;
}

.subsection-description.subsection-2, .subsection-description.subsection-3 {
    display: none;
}

.story {
    display: table;
}

.story section {
    position: relative;
    float: left;  
    left: 5%;
    padding-bottom: 5%;
    width: 40%;
    line-height: 205.4%;
}

.story aside {
    display: grid;
    align-items: center;
    width: 50%;
}

.story-image {
    position: relative;
    top: 0;
    left: 35%;
    width: 70%; 
    object-fit: contain;
    border-radius: 3px;
}

.video-demo {
    margin-bottom: 50px;
}

.video-player {
    width: 1280px;
    height: 720px;
    box-shadow: 0px 5px 15px 5px black;
    margin-top: -30px;
}

.header-gallery {
    margin-bottom: 30px;
}

.gallery-photo {
    border-radius: 25px;
    box-shadow: 0px 5px 15px 5px #000;
}

.main-photo {
    width: 1280px;
    height: 720px;
    margin-bottom: 50px;
}

.additional-photo {
    width: 420px;
    height: 236px;
}

.gallery {
    margin-bottom: 150px;
}

.gallery-buttons {
    vertical-align: middle;
}

.gallery-button.previous-image {
    float: left;
}

.gallery-button.next-image {
    float: right;
}

.gallery-carousel {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(420px, 420px));
    grid-column-gap: 30px;
}

.stats {
    margin-bottom: 150px;
}

.stats-details {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 30px;
}

.stats-details-chapter-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
}

.stats-details-chapter-2 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(400px, 400px));
    grid-column-gap: 280px;
}

.stats-image {
    width: 200px;
    height: 200px;
}

.stats-text {
    font-weight: 700;
}

.stats-value {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.stats-description {
    font-size: 25px;
    margin-top: 10px;
}

.team {
    margin-bottom: 150px;
}

.team-table {
    display: grid;
    text-align: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 100px;
    
}

.participant-photo {
    width: 300px;
    height: 300px;
    border-radius: 170px;
    box-shadow: 0px 10px 10px 5px #000;
}

.participant-name, .participant-position {
    font-weight: 700;
}

.participant-name {
    font-size: 40px;
}

.participant-position {
    font-size: 25px;
    margin-top: -30px;
}

.social h2 {
    color: #202220;
}

.feedbacks {
    
}

.contacts {
    
}

.contacts h2 {
    margin-bottom: 0px;
}

.contacts-description {
    margin-bottom: 60px;
}

.contacts-buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 350px));
    justify-content: center;
}

.social-button {
    width: 300px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 10px 15px 2px #000;
    transition: 0.3s;
    background-color: #F0EEE5;
}

.social-button:hover {
    transform: scale(1.15);
    transition: 0.5s;
}

.social-button p {
    float: right;
    position: relative;
    right: 50px;
    text-align: left;
    color: #1D1F1D;
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.social-logo {
    float: left;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    left: 30px;
}
