html, body {
    margin: 0;
}

body {
    background: #1D1F1D;
    color: white;
    letter-spacing: 0.02em;  
    scroll-behavior: smooth;
}

body, button, input, p {
    font-family: "Montserrat";
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
}

h1, h2 {  
    font-family: "Press Start 2P";
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 700;
}

h1 {
    color: #BDE038;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 50px;   
}

h2 {
    font-size: 40px;
    line-height: 40px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px; 
    letter-spacing: 0.05em; 
    margin-top: 10px;
}

div {
    text-align: center;
}

ul {
    list-style: none;
}

header, footer {
    position: relative;
    display: flex;
    align-items: center;
    height: 240px;
}

footer {
    background-color: #1D1F1D;
}

.page-header {
    background: url("/resources/header-background.png") no-repeat bottom;
    background-size: cover;
}

.social, .game-description-main-part {
    background: linear-gradient(180deg, #F0EEE5 0.03%, #989187 95.6%);
}

.authorization-section {
    display: none;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.authorization-form, 
.registration-form,
.feedback-send-form {
    display: none;
    background-color: white;
    position: fixed;
    width: 480px;
    color: black;
    border-radius: 8px;
    margin: 0;
}

.authorization-form {
    height: 580px;
}

.registration-form {
    height: 730px;
}

.feedback-send-form {
    height: 480px;
}

.form-header, .form-body {
    padding: 30px;
    padding-bottom: 20px;
}

.form-header {
    border-bottom: 2px solid rgb(221, 221, 221);
}

.form-body {
    position: relative;
    padding-top: 20px;
}

.authorization-logo {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.authorization-form label, .registration-form label {
    position: relative;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.form-body p {
    margin: 8px 0 16px 0;
}

.form-body button {
    margin-top: 30px;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.form-body button:hover {
    font-weight: 300;
    background-color: #a1bd3c;
}

.registration-ref, .authorization-ref, .form-body p.authorization-ref {
    margin-top: 20px;
    color: black;
    font-weight: 600;
    font-size: 17px;
    line-height: 17px; 
    letter-spacing: 0.05em; 
}

.registration-ref {
    display: flex;
    justify-content: center;
}

.registration-ref:hover {
    color: rgb(87, 87, 87);
}

.authorization-form input, .registration-form input {
    position: relative;
    width: 100%;
    border: 1px solid #989187;
    border-radius: 8px;
    padding: 11px 15px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.authorization-form button, .registration-form button {
    position: relative;
    width: 100%;
    background-color: #BDE038;
    border: none;
    border-radius: 4px;
    padding: 14px;
}

.feedback-send-form .authorization-logo {
    margin-top: 50px;
}

.feedback-sent-message {
    position: relative;
    font-size: 30px;
    font-weight: 400;
    line-height: 205.4%;
}

.close-form-button {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 24px;
	height: 24px;
	opacity: 0.2;
	cursor: pointer;
    transition: opacity ease 0.5s;
}

.close-form-button::before,
.close-form-button::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: #000;
}

.close-form-button::before {
	transform: rotate(45deg);
}

.close-form-button::after {
	transform: rotate(-45deg);
}

.navigation {
    display: flex;  
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.navigation.bottom-nav {
    margin-left: 25%;
}

.section-refs {
   display: flex;
   position: relative;
   width: fit-content;
   padding: 0;
}

.section-refs li {
    display: inline;
    margin: 30px;
    padding-bottom: -50px;
    font-size: 20px;
}

.section-refs li a {
    color: white;
    font-weight: 400;
    text-decoration: none;
}

.section-refs li a:hover {
    color:rgb(189, 189, 189)
}

.user-section {
    position: relative;
    margin-right: 8%;
}

.enter-button {    
    background-color: transparent;
    height: fit-content;
    padding: 15px 40px;
    border-radius: 7px;
    border: 2px solid #BDE038;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.enter-button:hover {
    color: rgb(194, 194, 194);
    border-color: #a1bd3c;
}

.user-info {
    display: flex;
}

.user-info p {
    margin: auto 20px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.exit-icon {
    width: 30px;
    height: 30px;
}

.exit-icon:hover {
    filter: brightness(60%);
}

.game-logo {
    position: relative;
    width: 150px;
    height: 180px;     
}

.top-game-logo {
    margin-left: 8%;
}

.bottom-game-logo {   
    margin-right: 8%;    
}

.game-description-start {
    margin-top: -10px;
    margin-bottom: 40px;
}

.platforms-logo {
    border-top: 1px solid white;
    display: inline;
    padding-top: 70px;
}

.ps5-logo, .win10-logo {  
    width: 280px;
    height: 60px;
    margin: 5px;   
    filter: grayscale(1) brightness(1000%);
}

.ps5-logo {
    margin-right: 20px;
}

.win10-logo {
    margin-left: 20px;
}

.buy-section {
    margin-top: 30px;
    margin-bottom: 350px;
}

.buy-button {
    padding: 16px 65px;
    width: fit-content;
    background-color: #BDE038;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 5px 15px 5px rgb(15, 15, 15);
    transition: 0.5s;
}

.buy-button:hover {
    transform: scale(1.15);
    transition: 0.5s;
}

.buy-button p {
    position: relative;
    font-family: "Montserrat";
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin: 5% auto;
}

.start-section {
    text-align: center;
    height: calc(100% - 240px);
}

.start-section-content {
    position: relative; 
    padding-top: 130px;
}

.start-section-background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}

.game-description h2 {
    margin-top: 150px;
    margin-bottom: 30px;
}

.game-description .main-description {
    margin-bottom: 200px;
    padding: 0 20%;
}

.game-description-subsections {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
}

.game-description-subsections li{
    display: inline;
    margin: 20px;
    padding: 20px;
}

.subsection-ref {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.12em;
    padding-bottom: 5px;
    outline: none;
}

.subsection-ref:hover {
    font-weight: 800;
}

.subsection-ref.focused {
    font-weight: 800;
    border-bottom: 8px solid #BDE038;
}

.subsection-description {
    display: table;
    margin-bottom: 50px;
}

.subsection-description aside {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    width: 50%;
    row-gap: 20px;
    padding-bottom: 2%;
}

.subsection-image {
    position: relative;
    top: 0;
    left: 15%;
    width: 70%; 
    object-fit: contain;
    border-radius: 3px;
}

.subsection-description section {
    position: relative;
    float: right;  
    top: 150px;
    right: 5%;
    padding-bottom: 5%;
    width: 40%;
    line-height: 205.4%;
    color: #1D1F1D;
}

.subsection-description.subsection-2, .subsection-description.subsection-3 {
    display: none;
}

.story-section {
    display: flex;
    margin-top: 100px;
}

.story-section-left {
    width: 60%;
}

.story-section-right {
    width: 40%;
}

.story-section h2 {
    display: flex;
    position: relative;
    margin-left: 12%;
    margin-bottom: 50px;
    width: fit-content;
}

.story-section section {
    display: flex;
    position: relative;
    margin-left: 12%;
    padding-bottom: 5%;
    line-height: 205.4%;
    width: 70%;
}

.story-image {
    position: relative;
    border-radius: 3px;
    width: 100%;
    right: 10%;
}

.video-demo h2 {
    margin: 150px 0;
}

.video-player {
    width: 70%;
    height: auto;
    box-shadow: 0px 5px 15px 5px black;
    margin-top: -30px;
}

.header-gallery {
    margin-bottom: 30px;
}

.gallery-photo {
    border-radius: 5px;
    box-shadow: 0px 5px 15px 5px #000;
}

.main-photo {
    width: 50%;
    height: auto;
    margin-bottom: 50px;
}

.additional-photo {
    width: 100%;
    height: auto;
}

.additional-photo:focus {
    transform: scale(1.5);
}

.gallery h2 {
    margin-top: 150px;
    margin-bottom: 80px;
}

.gallery-section {
    display: flex;
}

.gallery-carousel-button {
    position: relative;
    background-color: #1D1F1D;
    border: none;
}

.gallery-carousel-button svg:hover polyline{
    stroke-width: 3;
}

.gallery-arrow-left {
    left: 3%;
}

.gallery-arrow-right {
    right: 3%;
}

.gallery-carousel {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(20%, 20%));
    grid-column-gap: 30px;
}

.stats h2{
    margin-top: 150px;
}

.stats-section-description {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 500;
    line-height: 205.4%;
}

.stats-details {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 15vh 15vw;
    width: fit-content;
    margin: 150px auto 0 auto;
}

.stats-image {
    width: 200px;
    height: 200px;
}

.stats-text {  
    letter-spacing: 0.05em;
}

.stats-value {
    font-size: 40px;
    line-height: 49px;
    margin-top: 60px;
    margin-bottom: 0px;
}

.stats-description {
    font-size: 25px;
    font-weight: 500;
    line-height: 205.4%;
    margin-top: 20px;
}

.team {
    margin-bottom: 0px;
}

.team h2 {
    margin-top: 150px;
}

.team-table {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10vh 10vw;
    margin: 150px auto;
    width: fit-content;
}

.participant-photo {
    width: 15vw;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 10px 10px 5px #000;
    margin-bottom: 30px;
}

.participant-name {
    font-weight: 500;
    letter-spacing: 0.12em;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0;
}

.participant-position {
    font-weight: 400;
    font-size: 20px;
    line-height: 205.4%;
    letter-spacing: 0.05em;
}

.social {
    color: #202220;
    padding-bottom: 120px;
}

.feedbacks {
    margin: 200px 0;
}

.message-before-feedback a {
    color: black;
}

.message-before-feedback a:hover {
    color: rgb(77, 77, 77);
}

.feedback-form {
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    justify-content: flex-start;
}

.feedback-input-field {
    background: transparent;
    margin-top: 40px;
    width: 95%;
    border: none;
    opacity: 0.8;
    border-bottom: 2px solid #1D1F1D;  
    outline: none;
    font-size: 20px;
}

.feedback-submit-button {
    position: relative;
    left: 30px;
    margin-top: 75px;
    background: #BDE038;
    border-radius: 4px;
    border: none;
    width: 175px;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    box-shadow: 0px 5px 15px 5px black;
    transition: 0.5s;
}

.feedback-submit-button:hover {
    transform: scale(1.2);
}

.contacts h2 {
    margin-bottom: 0px;
}

.contacts-description {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contacts-buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 350px));
    justify-content: center;
    padding: 0;
}

.social-button {
    width: 300px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 10px 25px 2px rgb(72, 72, 72);
    transition: 0.3s;
    background-color: #F0EEE5;
}

.social-button:hover {
    transform: scale(1.15);
    transition: 0.5s;
}

.social-button p {
    position: relative;
    text-align: center;
    color: #1D1F1D;
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.social-button svg {  
    position: relative;
    float: left;
    width: 70px;
    height: 70px;
    left: 30px;
    top: 5px;
}

.pixel-transition {
    position: relative;
    width: 100%;
}

.pixel-transition.start-section-bottom,
.pixel-transition.game-description-bottom {
    transform: rotate(180deg);
}